# Production environment values for stackeye-web

replicaCount: 3

autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 10

podDisruptionBudget:
  enabled: true
  minAvailable: 2

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 200m
    memory: 256Mi

auth0:
  enabled: true
  domain: "stackeye.auth0.com"
  clientId: ""
  baseUrl: "https://app.stackeye.io"

ingress:
  hosts:
    - host: app.stackeye.io
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: stackeye-web-prod-tls
      hosts:
        - app.stackeye.io

sealedSecrets:
  enabled: true
  encryptedData: {}
